{% extends 'base.html.twig' %}

{% block title %}Edit Gateau{% endblock %}

{% block body %}
    <h1>Edit Gateau</h1>

    {{ include('gateau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gateau_index') }}">back to list</a>

    {{ include('gateau/_delete_form.html.twig') }}
{% endblock %}
